.logo-header .logo img{
    width: 220px ;
    height: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media(max-width: 600px){
    .logo-header .logo img{
        width: 150px ;
        height: 40px;
    }
}

@media(max-width: 600px){
    .logo-header .logo img{
        width: 110px ;
        height: 28px;
        margin-top:20px;
    }
}

@media(max-width: 425px){
    .logo-header .logo img{
        width: 60px ;
        height: 15px;
        margin-top:25px;
    }
}

@media(max-width: 325px){
    .logo-header .logo img{
        width: 50px ;
        height: 10px;
        margin-top:30px;
    }
}