body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    line-height: 1.9;
    color: #8c8c8c;
    position: relative; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
    color: #000; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  .text-black {
    color: #000; }
  
  .content {
    padding: 1rem 0;
   }
  
  .heading {
    font-size: 2.5rem;
    font-weight: 900; }
  
  .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none; }
    .form-control:active, .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #000; }
  
  .col-form-label {
    color: #000;
    font-size: 13px; }
  
  .btn, .form-control, .custom-select {
    height: 45px;
    border-radius: 0; }
  
  .custom-select {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0; }
    .custom-select:active, .custom-select:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #000; 
    }
  
  .btnForm {
    border: none;
    border-radius: 0;
    font-size: 11px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    border-radius: 30px !important; 
  }

    .btnForm.btn-primary {
      border-radius: 30px;
      background: #153ddd;
      color: #fff;
      -webkit-box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2);
      box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2); }
    .btn:hover {
      color: #fff; }
    .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  .contact-wrap {
    -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #efefef; }
    .contact-wrap .col-form-label {
      font-size: 14px;
      color: #b3b3b3;
      margin: 0 0 10px 0;
      display: inline-block;
      padding: 0; }
    .contact-wrap .form, .contact-wrap .contact-info {
      padding: 40px; }
    .contact-wrap .contact-info {
      color: rgba(255, 255, 255, 0.5); }
      .contact-wrap .contact-info ul li {
        margin-bottom: 15px;
        color: rgba(255, 255, 255, 0.5); }
        .contact-wrap .contact-info ul li .wrap-icon {
          font-size: 20px;
          color: #fff;
          margin-top: 5px; }
    .contact-wrap .form {
      background: #fff; }
      .contact-wrap .form h3 {
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 30px; }
    .contact-wrap .contact-info {
      height: 100vh;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
      .contact-wrap .contact-info a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
      @media (max-width: 1199.98px) {
        .contact-wrap .contact-info {
          height: 400px !important; } }
      .contact-wrap .contact-info h3 {
        color: #fff;
        font-size: 20px;
        margin-bottom: 30px; }
  
  label.error {
    font-size: 12px;
    color: red; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: #B90B0B; }
  
  #form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold; }
  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000; }

  @media (min-width: 576px) {
      .navbar-nav > .user-menu .user-image {
        float: none;
        line-height: 10px;
        margin-right: .4rem;
        margin-top: -15px;
      }
    }

.hidden-div{
  display: none;
}

.msj_error{
  color:#B90B0B;
}

.centrar-form{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 2rem;
}

.sombra{
  box-shadow:  3px  3px rgb(0, 110, 255), -0.5em  0  0.4em rgb(146, 146, 144);
}
  
.btn_volver{
  width: 140px;
  float: right;
}


.inputForm{
  font-size:12px; 
  height:30px;
}

.tituloRespuesta, .tituloComentario{
  display: flex;
  justify-content: center;
  color:#2a2b2c !important;
  margin-top: 5px !important; 
  margin-bottom: 20px !important; 
  
}

.spanTitulo{
  color: #B90B0B;
  font-size: 16px;
}

.span-respondido{
  background-color: #0caf3a;
  padding: 6px;
  color:#fff;
}
.span_respTkt{
background-color:#0caf3a; 
color:#fff; 
padding: 0px 6px 0px 6px
}

.content-responder{
  display: flex;
  justify-content:flex-start;
}

.btnResponder{
  font-size: 20px;
  width: 200px;
  border: none;
  border-radius: 5px !important;
  padding: 1px !important;
  margin-top: 15px;
  background-color: #2175f2;
}

.btn-volverInfo{
  font-size: 20px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px !important;
  padding: 4px 1px 1px 1px !important;
  margin-top: 15px;
  margin-left: 30px;
  background-color: #37393c;
}

.cuadro1{
  display: flex;
  justify-content: center;
  border: 3px dashed #102abb72;
  color: #2a71dcad;
  margin-bottom: 5px;
}


.cuadro2, .cuadro2 i{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #f6f6f7;
  font-weight: 700;
  background-color: #124ee6;
  margin-bottom: 5px;
  padding: 5px;
  
}

.cuadro3{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #030304;
  font-weight: 700;
  background-color: #0f99b8;
  margin-bottom: 5px;
  padding: 5px;
}

.cuadro3 i{
  color: #030304 !important;
  margin-top: 7px;
} 

.iconoResponder{
    margin-top: 2px;
    margin-left: 10px;
    font-size: 25px !important;
    color: #cecece !important;
}

.content-row{
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
}

.content-row-ver{
  display: flex !important;
  justify-content: end !important;
  text-align: center !important;
}

.btnAsistencia{
  display: flex;
  justify-content: center; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.btnAsistencia input{
  width: 300px;
  font-size: 14px;
}

.btnAsistencia input:hover{
  background-color:#1016ac ;
}


.btnAsistencia .btn-asignarTec{
  width: 300px;
  font-size: 14px;
  border-radius: 30px !important;
  line-height: 30px;
  background-color: #09585e;
  border: none;
  letter-spacing: 0.2em;
}

.btnAsistencia .btn-asignarTec:hover{
  background-color: #073a3d;
}


.content-masInformacion{
  display: flex;
  align-items: center;
  margin-top: 15px;

}

.masInformacion{
  margin-left: 10px;
  font-size: 18px !important;
  color: rgb(103, 110, 130);

}

@media(max-width: 425px){
  .content-file {
    font-size: 14px !important;
  } 

} 

@media(max-width: 375px){
  .content-file {
    font-size: 10px !important;
  } 

} 

@media(max-width: 300px){
  .content-file {
    font-size: 8px !important;
  } 

  .btnForm{
    width: 170px !important;
    font-size: 5px !important;
  }

}


.content-btnVolver{
  text-align: center;
}

.content-btnVolver .btn-volverInfo{
  width: 120px;
  font-size: 18px;
  float: right;
  padding: 6px !important;
}

.content-btnVolver i{
  margin-right: 6px;
}


.content-btnHistorial{
  display: flex;
  justify-content: space-between;
  float: left;
}

.btn-historial{
  font-size: 15px;
  width: 100px;
  height: 40px;
  border: solid 1px #93939d;
  margin: 2px;
  padding-top: 8px !important;
  background-color: #e9e4e4e7;
  color: #4d4d50;
  font-weight: 600;
}

.quitarPadding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.quitarPaddingRight{
  padding-right: 0px !important;
}

.titulo-resolucion{
  text-align:center !important;
  color: #229954 !important;
  font-size:20px !important;
  display:flex !important; 
  justify-content:center !important;
}


/* Select */

.select-container{
  display: flex;
  justify-content: center;
  position: relative;
  width: 250px;
}

.select-box{
  border: none;
  appearance: none;
  padding: 0 30px 0 15px;
  width: 100%;
  color: white;
  background-color: #2873ff;
  font-size: 16px;
}

.select-container select option:not(:first-child) {
  background-color: white; /* Cambia el color del fondo de las opciones */
  color: #023ca9;
}

.btnForm-comentario{
  font-size:18px; 
  width:250px;
}

@media(max-width: 2560px){
  .text-select{
    text-align:center; font-size:30px; color:#000; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
    color: #064b08;
    background-color: rgb(17, 240, 17);
  }
}

@media(max-width: 1260px){
  .text-select{
     font-size:25px;
  }

  .btnForm-comentario{
    font-size:16px;
     width:250px;
  }
}

@media(max-width: 1272px){
  .text-select{
     font-size:24px;
  }

  .btnForm-comentario{
    font-size:14px; 
    width:200px;
  }
}

@media(max-width: 1060px){
  .text-select{
     font-size:20px;
  }

  .btnForm-comentario{
    font-size:10px; 
    width:100px;
  }

  .select-container{
    width: 220px;
  }

  .select-container .select-box{
    font-size: 14px;
  }
}

@media(max-width: 700px){
  .text-select{
     font-size:16px !important;
  }

  .btnForm-comentario{
    font-size:10px; 
    width:100px;
    padding: 2px !important;
    margin-top: 20px !important;
  }

  .select-container{
    width: 150px;
  }

  .select-container .select-box{
    font-size: 10px;
  }

  .select-container .icon-container{
    width: 30px !important;
  }

  .icon-container i {
    font-size: 20px !important;
  }

}

@media(max-width: 470px){
  .text-select{
    font-size: 14px !important;
  }
}

@media(max-width: 390px){
  .text-select{
    font-size: 16px !important;
  
  }
}


@media(max-width: 320px){
  .text-select{
    font-size: 10px !important;
  }
}



.select-container .icon-container{
  width: 50px;
  height: 100%;
  position: absolute;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #023ca9;
}

.icon-container i{
  font-size: 30px;
  color: white;
}

/** Respuesta del ticket y comentarios*/
.containerSelectCheck{
  width:400px; display:flex; justify-content:space-between;
}
.form-respuesta .btnForm-comentario{
     margin-top: 40px !important;
}

.containerSelectCheck .checkbox-container .labelReabrir{
  margin-top: 10px !important;
}

@media(max-width: 1024px){
  .form-respuesta .tituloComentario{
    font-size: 22px !important;
  }
}

@media(max-width: 768px){
  .form-respuesta .btn-volverInfo{
    width: 100px;
    font-size:16px ;
    height: 30px;
    padding-top: 3px !important;
    margin-bottom: 10px !important;
    margin-top: 3px !important;
  }
  .form-respuesta .tituloRespuesta{
    font-size: 22px !important;
  }

  .form-respuesta .tituloComentario{
    font-size: 15px !important;
  }

  .form-respuesta .span_respTkt{
    font-size: 22px;
  }

  .form-respuesta .tituloComentario{
    font-size: 15px;
  }

  .containerSelectCheck{
    width:350px; 
  }
}

@media(max-width: 525px){

  .form-respuesta .btn-volverInfo{
    width: 80px;
    font-size:14px ;
    height: 25px;
    padding-top: 3px !important;
    margin-bottom: 10px !important;
    margin-top: 3px !important;
  }

  .form-respuesta .content-btnVolver i{
    font-size: 14px;
  }

  .form-respuesta .tituloRespuesta{
    font-size: 18px !important;
  }

  .form-respuesta .span_respTkt{
    font-size: 18px;
  }

  .containerSelectCheck{
    width:300px; 
  }
}

@media(max-width: 440px){
  .form-respuesta .btn-volverInfo{
    width: 80px;
    font-size:12px ;
    height: 25px;
    padding-top: 4px !important;
    margin-bottom: 10px !important;
    margin-top: 3px !important;
  }

  .form-respuesta .content-btnVolver i{
    font-size: 12px;
  }

  .form-respuesta .tituloRespuesta{
    font-size: 14px !important;
  }

  .form-respuesta .tituloComentario{
    font-size: 12px !important;
  }

  .form-respuesta .span_respTkt{
    font-size: 14px;
  }

  .containerSelectCheck{
    width:230px; 
    font-size: 8px;
  }

  .containerSelectCheck .checkbox-container {
    display:flex; 
    align-items:center;
  }

  .containerSelectCheck .checkbox-container .labelReabrir {
    margin-left: 3px;
  }


}


@media(max-width: 400px){
  .form-respuesta .btn-volverInfo{
    width: 60px;
    font-size:8px ;
    height: 15px;
    padding-top: 2px !important;
    padding-bottom: 6px !important;
    margin-top: 5px !important;
    margin-left: 5px !important;
   
  }
  .form-respuesta .content-btnVolver i{
    font-size: 10px;
  }

  .form-respuesta .tituloRespuesta{
    font-size: 14px !important;
  }

  .form-respuesta .tituloComentario{
     font-size: 8px !important;
  }

  .form-respuesta .span_respTkt{
    font-size: 14px;
  }

  .containerSelectCheck .checkbox-container .labelReabrir{
    margin-top: 9px !important;
  }
}

@media(max-width: 320px){
  .form-respuesta .btn-volverInfo{
    width: 60px;
    font-size:8px ;
    height: 15px;
    padding-top: 3px !important;
    padding-bottom: 6px !important;
    margin-top: 5px !important;
    margin-left: 5px !important;
   
  }

  .form-respuesta .content-btnVolver i{
    font-size: 10px;
  }

  .form-respuesta .tituloRespuesta{
    font-size: 10px !important;
  }

  .form-respuesta .tituloComentario{
     font-size: 10px !important;
  }

  .form-respuesta .span_respTkt{
    font-size: 10px;
  }


  .containerSelectCheck{
   overflow: auto; 
   display: flex;
   flex-direction: column;
  }

  .containerSelectCheck .checkbox-container .labelReabrir{
    margin-top: 8px !important;
  }

  .containerSelectCheck .labelReabri{
    margin-top: 20px!important; 
  }


  .icon-container i {
    font-size: 15px !important;
  }

}











    