body {
    background-color: #fff;
    line-height: 1.9;
    color: #8c8c8c;
    position: relative; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
    color: #000; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  .text-black {
    color: #000; }
  
  .content {
    padding: 1rem 0;
   }
  
  .heading {
    font-size: 2.5rem;
    font-weight: 900; }
  
  /* .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none; }
    .form-control:active, .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #000; } */


  
  .nav-item .nav-link[data-widget="pushmenu"],
  .nav-item .nav-link[data-widget="fullscreen"] , 
  .nav-item .nav-link[data-toggle="dropdown"] {
      padding-top: 5px !important;
  }
  
  .col-form-label {
    color: #000;
    font-size: 13px; }
  
  .btn, .form-control, .custom-select {
    height: 45px;
    /* border-radius: 0;  */
  }

  .form-group input.form-control, .form-group textarea {
    font-size: 16px !important;
  }

  .form-group select{
    padding-left: 12px;
  }
  
  .custom-select {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0; }
    .custom-select:active, .custom-select:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #000; 
    }
  
  .btnForm {
    border: none;
    border-radius: 0;
    font-size: 11px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    border-radius: 30px !important; 
  }

    .btnForm.btn-primary {
      border-radius: 30px;
      background: #153ddd;
      color: #fff;
      -webkit-box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2);
      box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2); }
    .btn:hover {
      color: #fff; }
    .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  .contact-wrap {
    -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #efefef; }
    .contact-wrap .col-form-label {
      font-size: 14px;
      color: #333435;
      margin: 0 0 10px 0;
      display: inline-block;
      padding: 0; }
    .contact-wrap .form, .contact-wrap .contact-info {
      padding: 40px; }
    .contact-wrap .contact-info {
      color: rgba(255, 255, 255, 0.5); }
      .contact-wrap .contact-info ul li {
        margin-bottom: 15px;
        color: rgba(255, 255, 255, 0.5); }
        .contact-wrap .contact-info ul li .wrap-icon {
          font-size: 20px;
          color: #fff;
          margin-top: 5px; }
    .contact-wrap .form {
      background: #fff; }
      .contact-wrap .form h3 {
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 30px; }
    .contact-wrap .contact-info {
      height: 100vh;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
      .contact-wrap .contact-info a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
      @media (max-width: 1199.98px) {
        .contact-wrap .contact-info {
          height: 400px !important; } }
      .contact-wrap .contact-info h3 {
        color: #fff;
        font-size: 20px;
        margin-bottom: 30px; }
  
  label.error {
    font-size: 12px;
    color: red; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: #B90B0B; }
  
  #form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold; }
  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000; }

  @media (min-width: 576px) {
      .navbar-nav > .user-menu .user-image {
        float: none;
        line-height: 10px;
        margin-right: .4rem;
        margin-top: -15px;
      }
    }

.hidden-div{
  display: none;
}

.msj_error{
  color:#B90B0B;
}

.centrar-form{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 2rem;
}

.sombra{
  box-shadow:  3px  3px rgb(0, 110, 255), -0.5em  0  0.4em rgb(146, 146, 144);
}
  
.btn_volver{
  width: 140px;
  float: right;
}


.inputForm{
  font-size:12px; 
  height:30px;
}



.spanTitulo{
  color: #B90B0B;
  font-size: 16px;
}

.span-respondido{
  background-color: #0caf3a;
  padding: 6px;
  color:#fff;
}



.content-responder{
  display: flex;
  justify-content:center;
}

.btnResponder{
  font-size: 20px;
  width: 300px;
  height: 45px;
  border: none;
  border-radius: 5px !important;
  padding: 1px !important;
  margin-top: 15px;
  background-color: #2175f2;
}

.btn-volver{
  font-size: 20px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px !important;
  padding: 4px 1px 1px 1px !important;
  margin-top: 15px;
  margin-left: 30px;
  background-color: #37393c;
}

.containermsj{
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.alert-success{
  background-color: #44f375;
  color: #064b08;
  border: none;
  border-radius: 0%;
}

.fa-circle-check{
  color: #064b08;
  margin-right: 10px;
}

.alert-danger{
  border: none;
  border-radius: 0%;
}

.fa-circle-exclamation {
  color: #8c111d;
  margin-right: 10px;
}

.message-alert{
  padding-top: 4px;
  padding-bottom:4px ;
}

.cuadro1{
  width: 100%;
  display: flex;
  justify-content: center;
  border: 0px solid #102abb72;
  color: #2a71dcad;
  margin-bottom: 5px;
}




.cuadro2, .cuadro2 i{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #404e55;
  background-color: #d6e1e6;
  font-weight: 700;
  margin-bottom: 0px !important;
}

.cuadro3{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #030304;
  font-weight: 700;
  background-color: #0f99b8;
  margin-bottom: 5px;
  padding: 5px;
}

.cuadro3 i{
  color: #030304 !important;
  margin-top: 7px;
} 

.iconoResponder{
    margin-top: 2px;
    margin-left: 10px;
    font-size: 25px !important;
    color: #cecece !important;
}

.content-row{
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
}

.content-row-ver{
  display: flex !important;
  justify-content: end !important;
  text-align: center !important;
}

.btnAsistencia{
  display: flex;
  justify-content: center; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.btnAsistencia input{
  width: 300px;
  height: 45px;
  font-size: 14px;
}

.btnAsistencia input:hover{
  background-color:#1016ac ;
}


.btnAsistencia .btn-asignarTec{
  width: 300px;
  font-size: 14px;
  border-radius: 30px !important;
  line-height: 30px;
  background-color: #09585e;
  border: none;
  letter-spacing: 0.2em;
}

.btnAsistencia .btn-asignarTec:hover{
  background-color: #073a3d;
}


.content-masInformacion{
  display: flex;
  align-items: center;
  margin-top: 15px;

}

.masInformacion{
  margin-left: 10px;
  font-size: 18px !important;
  color: rgb(103, 110, 130);

}

@media(max-width: 425px){
  .content-file {
    font-size: 14px !important;
  } 

} 

@media(max-width: 375px){
  .content-file {
    font-size: 10px !important;
  } 

} 

@media(max-width: 300px){
  .content-file {
    font-size: 8px !important;
  } 

  .btnForm{
    width: 170px !important;
    font-size: 5px !important;
  }

}


.content-btnVolver{
  text-align: center;
}

.content-btnVolver .btn-volver{
  width: 120px;
  font-size: 18px;
  float: right;
  padding: 6px !important;
}

.content-btnVolver i{
  color:#b8bdc2;
}

.content-btnVolver i{
  margin-right: 6px;
}


.content-btnCalificaciones{
  display: flex;
  justify-content: space-between;
  float: left;
}

.quitarPadding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.quitarPaddingRight{
  padding-right: 0px !important;
}


/* Select - calificaciones*/
.select-container {
  position: relative;
}

.select-container select {
  background-color:#1bb1a9;
  border: none;
  padding: 10px 0 10px 10px ;
 
  font-size: 16px;
  cursor: pointer;
  margin-left: 30px;
}

.select-container select:focus {
  outline: none;
}
.content-opcionesResuelto{

  background-color: rgb(0, 0, 0);
  
}
.texto_ticketResuelto, .texto_ticketCerrado {
   text-align: center;
   background-color: rgb(194, 240, 240);
   padding: 10px;
   color: #075955;
   font-weight: bold;
   margin-bottom: 20px;
}

.content-opcionesResuelto{
  padding-bottom: 10px;
}

.text-calificacionCerrado{
  font-size: 18px;
}

.calificacion_nivel{
  display: block;
  font-size: 12px;
  font-family: cursive;
  font-weight: bold;
  color: #6e6f70;
}

.textoTicketCerrado p{
  margin-bottom: 5px;
}

.text-calificacionCerrado{
  text-decoration:underline !important;
}

.container-estrellas .estrellas{
  margin-left: 20px;
}

.container-estrellas a{
  font-size: 14px;
  margin-left: 22px !important;
  text-decoration: underline !important;
}



/* checkboxs */
.content-opcionesResuelto .textoSeleccionar, 
.content-checkbox .checkboxReabrir .labelReabrir,
.content-checkbox .checkboxCerrar .labelCerrar
{
  color: rgb(252, 253, 253) !important;
  margin-top: 10px;
}



.content-opcionesResuelto .textoSeleccionar{
  margin-left: 30px;
}

.content-opcionesResuelto .preguntaCheckbox{
  text-align: center;
  color: rgb(252, 253, 253) !important;
  margin-top: 20px;
}

.content-checkbox{
  display: flex;
  justify-content: center;
  border: solid 2px #fff;
  
}

.content-checkbox .checkboxReabrir .labelReabrir{
  margin-right: 20px;
}


.contentResponderResuelto{
  display: flex;
   justify-content: center;
}

.contentResponderResuelto .btnResponder{
  width: 100px;
  height: 35px;
  font-size: 16px;
 
}

.mensajeResuelto{
  margin: 20px 10px 0px 10px;
}

.checkbox-containerResuelto{
  text-align: center;
  background-color: #dcdcdcb4;
  padding: 12px 10px 0px 10px ;
  border-radius: 2px;
}

.alinear-checkbox{
  padding-top: 15px;
}

.checkbox-containerResuelto .labelResuelto{
  color: #13104b;
}

.textoTicketResuelto, .textoTicketCerrado{
  font-size: 24px;
  background-color:#dcdcdcb4;
  color:rgb(10, 6, 84);
  padding: 15px 5px 5px 5px !important;
  text-align: center;
  padding: 0px;
}

.textoTicketResuelto .fa-circle-check, .textoTicketCerrado .fa-circle-check {
  color:rgb(0, 166, 255);
}


@media(max-width: 2560px){
  .text-select{
    text-align:center; font-size:30px; color:#000; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
    color: #064b08;
    background-color: rgb(17, 240, 17);
  }
}



@media(max-width: 1060px){
 
  .select-container{
    width: 220px;
  }

  .select-container .select-box{
    font-size: 14px;
  }
}

@media(max-width: 700px){

  .select-container{
    width: 150px;
  }

  .select-container .select-box{
    font-size: 10px;
  }

  .select-container .icon-container{
    width: 30px !important;
  }

  .icon-container i {
    font-size: 20px !important;
  }


}


.select-container .icon-container{
  width: 50px;
  height: 100%;
  position: absolute;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #023ca9;
}

.icon-container i{
  font-size: 30px;
  color: white;
}

/** CHAT */

.content-chat{
  margin: 7px 7px 16px 7px ;
  
}

.chat{
  background-color: #d7ecf3;
  height: 400px;
  margin-bottom: 0 !important;
}

.mensajesRight{
  text-align: right;
  background-color:#66d887;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.mensajesLeft{
  text-align: left;
  background-color:#c7cac8;
  margin: 10px;
  padding: 10px;
  border-radius: 5x;
}
.sinmensajes{
  display:flex;
  justify-content:center;
  align-items: center;
  margin-top: 50px;
}

.fecha_mensajes{
  display: block;
  color: rgb(116, 114, 114);
  font-size: 14px;
}

.fa-solid, .fa-regular{
  color: #000;
}



.custom-file-input:hover::before {
  content: attr(data-content);
}


.btnVolver-verTicket{
  font-size: 15px;
  width: 130px;
  height: 35px;
  border: none;
  border-radius: 5px !important;
  padding-top: 3px !important;
  padding-bottom: 0px !important;
  margin-top: 15px;
  margin-left: 30px;
  background-color: #37393c;
}


@media(max-width: 1024px){
  .btnVolver-verTicket{
    font-size: 10px;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px !important;
    padding-top: 3px !important;
    padding-bottom: 0px !important;
    margin-top: 15px;
    margin-left: 30px;
    background-color: #37393c;
  }
}

@media(max-width: 425px){
  .btnVolver-verTicket{
    font-size: 9px;
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px !important;
    padding: 5px 6px 0px 6px !important ;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px!important;
    background-color: #37393c;
  }

  .titulo-detalles{
    font-size: 30px !important;
  }
}

@media(max-width: 375px){

  .titulo-detalles{
    font-size: 22px !important;
  }
}

@media(max-width: 320px){

  .btnVolver-verTicket{
    font-size: 8px !important;
    width: 90px !important;
    height: 25px;
    border: none;
    border-radius: 5px !important;
    padding: 5px 4px 0px 4px !important ;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px!important;
    background-color: #37393c;
  }

  .titulo-detalles{
    font-size: 18px !important;
  }

}

.trueAsignado{
  display: flex;
  justify-content: center;
  height: 60px;
  background:#fcfcfc;
  color: #ff1616;
  font-size: 25px;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 1px;
  border: solid 2px rgb(235, 71, 71);
  padding-top: 3px;
  margin-bottom: 30px;
}

.trueAsignado i{
  padding-bottom: 15px;
  margin-right: 10px;
}

.contentBtn-CrearArea{
  display: flex !important;
  justify-content: space-between !important;
}

.btnVolver-crearArea, .btnVer-TodasAreas{

  width:150px !important;
  font-size:14px;
  text-align: center;
}

@media(max-width: 1024px){

  .btnVolver-crearArea, .btnVer-TodasAreas{
    width:130px !important;
    font-size:10px !important;
    text-align: center;
  }



}

@media(max-width: 375px){

  .btnVolver-crearArea, .btnVer-TodasAreas{
    width:120px !important;
    font-size:8px !important;
    text-align: center;
  }

}

@media(max-width: 320px){

  .btnVolver-crearArea, .btnVer-TodasAreas{
    width:95px !important;
    font-size:8px !important;
    text-align: center;
    padding: 4px 2px !important;
  }

  .btnVer-TodasAreas{
    margin-top: 5px !important;
  }

}





















    